<div class="footer-wrapper bg-success">
<footer>
	<div class="row">
	<div id="flickr-photo-stream" class="col-md-3">
	<h3>Photo Stream</h3>
	<img src="images/sample-pic-1.jpg" style="height:85px;" alt="..." class="img-thumbnail">
	<img src="images/sample-pic-1.jpg" style="height:85px;" alt="..." class="img-thumbnail">
	<img src="images/sample-pic-1.jpg" style="height:85px;" alt="..." class="img-thumbnail">
	<img src="images/sample-pic-1.jpg" style="height:85px;" alt="..." class="img-thumbnail">
	<img src="images/sample-pic-1.jpg" style="height:85px;" alt="..." class="img-thumbnail">
	<img src="images/sample-pic-1.jpg" style="height:85px;" alt="..." class="img-thumbnail">
	<img src="images/sample-pic-1.jpg" style="height:85px;" alt="..." class="img-thumbnail">
	<img src="images/sample-pic-1.jpg" style="height:85px;" alt="..." class="img-thumbnail">
	</div>	
	<div class="col-md-3">
	<h3>About us</h3>
	<p>
	Stayhappi is a focused provider of Short term rental services in India. First of its kind in India. Stayhappi is focused provider of Short term rental services in India. First of its kind in India. We believe in creating value to both the hosts and the guests. Guests get a quality place to stay with all the amenities they require, at a very reasonable price. 
	</p>
	</div>	
	<div class="col-md-3">
	<h3>Latest News</h3>
	<ul class="bloglist-small">
                        <li>
                            <div class="date-box">
                                <span class="day">28</span>
                                <span class="month">SEP</span>
                            </div>
                            <div class="txt">
                                <h5><a href="css/#">Lorem ipsum sit amet</a></h5>
                                <div>
                                    <div>Sed ut perspiciatis unde omnis iste natus error</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="date-box">
                                <span class="day">26</span>
                                <span class="month">SEP</span>
                            </div>
                            <div class="txt">
                                <h5><a href="css/#">Lorem ipsum sit amet</a></h5>
                                Sed ut perspiciatis unde omnis iste natus error
                            </div>
                        </li>
                    </ul>
	</div>	
	<div class="col-md-3">
	
	 <h3>Our Address</h3>
                    <address>
                        Telugu Brahmin Street, Coimbatore<br>
                        <span><strong>Phone:</strong>0422 234 6860</span><br>
                        <span><strong>Email:</strong><a href="mailto:contact@stayhappi.com">contact@stayhappi.com</a></span>
                        <span><strong>Web:</strong><a href="http://www.stayhappi.com" target="_blank">http://www.stayhappi.com</a></span>
                    </address>
	<div class="social-icons">
                        <a href="https://www.facebook.com/stayahappi" target="_blank">
                            <img src="images/social-icons/facebook.png" alt="" /></a>
                        <a href="#">
                            <img src="images/social-icons/twitter.png" alt="" /></a>
                        <a href="#">
                            <img src="images/social-icons/dribbble.png" alt="" /></a>
                        <a href="#">
                            <img src="images/social-icons/blogger.png" alt="" /></a>
                        <a href="#">
                            <img src="images/social-icons/youtube.png" alt="" /></a>
                        <a href="#">
                            <img src="images/social-icons/vimeo.png" alt="" /></a>
                    </div>
	</div>
	</div>
	<hr/>
	  <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        &copy; Copyright 2014 - Stay Happy
                    </div>
                    <div class="col-md-6">
                        <nav>
                            <ul style="display:flex;">
                                <li style="padding:10px;"><a href="#">Home</a></li>
                                <li style="padding:10px;"><a href="#">To Rent</a></li>
                                <li style="padding:10px;"><a href="#">For Rent</a></li>
                                <li style="padding:10px;"><a href="#">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
	</footer>
		</div>
	</body>
</html>