<% include header.ejs %>
<div class="col-md-12">
<div class="col-md-3">
<img style="margin:20px; padding : 20px; height: 250px; width: 250px;" src="images/gallery/pic (1).jpg">
<h4>Raja Garden</h4>
		<p>Kottivakkam, Chennai -600041</p>
</div>
<div class="col-md-3">
<a data-toggle="modal" href="#myLightbox" onclick="$('#myModal').modal('show');"><img style="margin:20px;  padding : 20px; height: 250px; width: 250px;" src="images/gallery/pic (2).jpg"></a>
<h4>Raja Garden</h4>
		<p>Kottivakkam, Chennai -600041</p>
</div>
<div class="col-md-3">
<img style="margin:20px;  padding : 20px; height: 250px; width: 250px;" src="images/gallery/pic (3).jpg">
<h4>Raja Garden</h4>
		<p>Kottivakkam, Chennai -600041</p>
</div>
<div class="col-md-3">
<img style="margin:20px;  padding : 20px; height: 250px; width: 250px;" src="images/gallery/pic (4).jpg">
<h4>Raja Garden</h4>
		<p>Kottivakkam, Chennai -600041</p>
</div>
<div class="col-md-3">
<img style="margin:20px;  padding : 20px; height: 250px; width: 250px;" src="images/gallery/pic (5).jpg">
<h4>Raja Garden</h4>
		<p>Kottivakkam, Chennai -600041</p>
</div>
<div class="col-md-3">
<img style="margin:20px;  padding : 20px; height: 250px; width: 250px;" src="images/gallery/pic (6).jpg">
<h4>Raja Garden</h4>
		<p>Kottivakkam, Chennai -600041</p>
</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body modal-open">
			<img src="images/gallery/pic (1).jpg">
      </div>
      
    </div>
  </div>
</div>
<% include footer.ejs %>